<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? yield(:title) : 'Trenvenue' %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>

	<%= yield :head %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-45319639-1', 'trenvenue.com');
     ga('require', 'displayfeatures');
     ga('send', 'pageview');
  </script>

  <!-- start Mixpanel -->
  <script type="text/javascript">
    (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
    mixpanel.init("bcc72755a7a2080616c833019a9cba1a");
  </script>
  <!-- end Mixpanel -->

</head>
<body>
	
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand main-logo" href="/">
						<%= image_tag "logo.png", :alt => "Trenvenue", :title => "Trenvenue"%>
					</a>
				</div>			
          <div class="navbar-right">
            <div style="margin: 20px 15px 0 0;">
            <% if user_signed_in? %>
                <% if current_user.try(:admin?) %>
                	<a data-toggle="modal" href="#uploadModal" class="btn btn-danger">Upload</a>
                <% end %>
                <%= link_to('Sign Out', destroy_user_session_path, :method => :delete, :class => 'btn btn-default') %>
            <% else %>
                <%= link_to("Join Us", new_user_registration_path, :class => 'btn btn-success') %>
                <%= link_to('Sign In', new_user_session_path, :class => 'btn btn-default')  %>
            <% end %>
            </div>
          </div>
				<!--  TODO: comment out navigation for now. until find better way to do it
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<%= active_link_to 'Hot', hot_path, :wrap_tag => :li %>
						<%= active_link_to 'Trending', trending_path, :wrap_tag => :li %>
						<%= active_link_to 'Fresh', fresh_path, :wrap_tag => :li %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div>
								<a data-toggle="modal" href="#uploadModal" class="btn btn-danger">Upload</a>
							</div>
						</li>
					</ul>
				</div>
				-->					
			</div>
		</div>
	</div>
	<div class=" afternav">
		<div class="container ">

			<div class="left-block">
			</div>

			<!-- Ads Placeholder, Site social Placeholder -->
			<div class="right-block">	
			<!-- <a class="btn btn-default"><i class="icon-gear icon-2x"></i>	</a> -->
					        	
			</div>
		</div>
	</div>

	<div class="container main-container" >
	  <%= yield %>
	</div>

	<!-- Login Modal -->
	<div class="modal" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Upload a Photo</h4>
				</div>
				<div class="modal-body">
					<%= form_for Post.new, :url => posts_path, :html => { :multipart => true } do |form|%>
						<div class="form-group">
							<%= form.label(:photo) %>
							<%= form.file_field(:photo) %>
						</div>
						<div class="form-group">
							<%= form.label(:title)%>
							<%= form.text_field(:title, :class => "form-control")%>
						</div>
						<div class="form-group">
							<%= form.label(:description)%><span class="help-block pull-right">(Optional)</span>
							<%= form.text_area(:description, :class => "form-control")%>
						</div>
						<%= submit_tag("Submit", class: "btn btn-primary") %>
					<% end %>
				</div>
<!-- 				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div> -->
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</body>
</html>
